@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url("@/assets/img/bg.png") repeat;
    /* box-shadow: inset 0 0 50px #f8a100; */

    /* ::before {
        content: '\00a0';
        background-image:
            radial-gradient(at 50% 0, blue 0%, red 50%, transparent 75%);
        background-size: 100% 2px;
        background-repeat: no-repeat;
        float: left;
        width: 100%;
    } */
}