@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: url("/public/images/bg.png") repeat;
  /* box-shadow: inset 0 0 50px #f8a100; */

  /* ::before {
        content: '\00a0';
        background-image:
            radial-gradient(at 50% 0, blue 0%, red 50%, transparent 75%);
        background-size: 100% 2px;
        background-repeat: no-repeat;
        float: left;
        width: 100%;
    } */
}
#app {
}
.rainbow-bg {
  background: linear-gradient(in hsl longer hue 45deg, red 0 100%);
  opacity: 0.2;
  animation: rainbow-cycle 4s linear infinite;
  border-radius: 10px;
}

@keyframes rainbow-cycle {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.bg-site {
  background: url("@/images/bg.png") repeat;
}
